*{
  padding: 0%;
  margin: 0%;
  font-family: 'Poppins';
}
.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 4px rgba(20, 20, 20, 0.302), 0 4px 12px rgba(0, 0, 0, 0.34);
  position: fixed;
  background: white;
  width: 100%;
  z-index: 10;
  
}
.logo img{
    max-width: 200px;
}
ul {
  list-style-type: none;
  overflow: hidden; 
  text-align: center;
  
  } 
li {
  float: left;
  }
li a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  } 
li:hover{
  background-color: #eaeeef;
  transition: 0.3s;
  border:none; 
  border-radius:10px; 
  padding: 5px;
  
} 
li a:hover {
  color: rgb(252, 125, 75);
}
.register{
  text-decoration: none;
}
.login{
  background-color: lightgray;
  border:none; 
  border-radius:10px; 
  padding: 5px 10px;
  font-size: 1.3em;
  margin-right: 10px;
}
.login a{
  text-decoration: none;
  padding: 5px;
  color: #162938;
}
.signup{
  background-color:#162938;
  border:none; 
  border-radius:10px; 
  padding: 5px 8px;
  font-size: 1.3em;
}
.signup a{
  text-decoration: none;
  color: #fff;
  padding: 5px;;
}
.login:hover {
  background-color:#162938;
  transition: 0.9s;
}
.login a:hover {
  color: #fff;
}
.signup:hover {
  background-color: lightgray;
  transition: 0.9s;
}
.signup a:hover {
  color: #162938;
}

.dialog {
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  /* --tw-bg-opacity: .75; */
  position: absolute;
  top: 100px;
  left: 60%;
  background-color: rgba(135, 135, 130, 0.483);
  width: 450px;
  height: 500px;
  background: white;
  /* border: 2px solid rgb(255, 255, 255, .5); */
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(8, 7, 7, 0.693);
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}
.dialog .icon-close { 
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.dialog .form-box{
  width: 100%;
}
.form-box h2{
  font-size: 2em;
  color: #162938;
  text-align: center;
  padding-top: 20px;
}
.con{
  padding-left: 40px;
  padding-right: 40px;
}
.input-box{
 position: relative;
 width: 100%;
/* height: 50px; */
 border-bottom: 2px solid #162938;
 padding-top: 20px;
}
.input-box label {
  /* position: absolute; */
  /* top : 30%; */
  top: -8px;
  left: 50px;
  transform: translate(-50px);
  /* font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none; */

}
.section{
  display: flex;
}
/* .input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
} */

.input-box input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}
.input-box .icon{
  /* position: absolute;
  justify-content: left; */
  /* font-size: 1.2em; */
  /* color: #162938; */
  /* line-height: 57px; */
  padding: 5px;
}
.forget{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.forget label input{
  margin-right: 3px;
}
.forget a {
  color: #162938;
  text-decoration: none;
}
.forget a:hover{
  text-decoration: underline;
}
.btn{
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  
}
.register{
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.reg{
 
  text-align: center;
  font-weight: 500;
}
.register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}
.register p a:hover {
text-decoration: underline;
}
#alert {
  display: none;
  color: red;
  margin-bottom: 10px;
}
.login-link{
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  color: black ;
}
.popup{
  position: absolute;
  top: 150px;
  left: 500px;
  right: 500px; 
  width: 350px;
  height: 250px;
  background: transparent;
  border: 2px solid rgb(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}
.popup h4{
  font-size: 1.5em;
  color: #162938;
  text-align: center;
  padding-top: 20px;
}
#password-reset-form{
  padding-top: 10px;
}
.btn a{
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
.conect{
  padding-top: 20px;
  text-align: center;
}
.con p{
  font-size: 1em;
  /* color: #162938; */
  text-align: center;
  border: 2px;
  padding: 10px;
}
/* home page styling */
.containers{
  display: flex;
  justify-content: space-around;
  padding-top: 11%;
  padding-bottom: 20px;
}
.landing_page{
  font-size: x-large;
  text-align: left;
  width: 40%;
  flex-wrap: wrap;
}
.content{
  padding-bottom: 20px;
}
.button-learn{
  padding-top: 30px;
}
span.every{
  color: rgb(241, 106, 52);
}
.explore button{
  background: rgb(239, 98, 42);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
}
.explore button:hover{
  background-color: #162938;
  transition: 0.3s;
}
.btnn{
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.btnn a{
  text-decoration: none;
  color: #fff;
}
.landing_image img{
  width: 100;
  height: auto;
}
.space{
  border: 2px;
  background-color: whitesmoke;
}
/* footer */
.footer{
  background-color: #162938;
  color: white;
}
.footer-link{
  float: left;
}
.footer-logo{
  display: flex;
  text-align: center;
  font-size: larger;
}
.content{
 line-height: 62px;
}
.para{
  line-height: 30px;
  padding-top: 5px;
}
.logo-nav{
  display: flex;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  font-size: larger;
}
.logo-link{
  padding: 40px 25px;
  text-align: center;
}
.logo1{
  padding: 1px 5px;
}
.logo2{
  padding: 2px 10px;
}
.logo3{
  padding: 2px 2px;
}
.footer-email{
  display: flex;
  align-items: center;
  
}
.email-logo{
  padding: 5px 10px;
}
.footer-section{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.footer-section2{
  line-height: 35px;
}
.footer-section3{
  line-height: 35px;
}
.footer-section4{
  line-height: 35px;
}
/* course */
.our-course{
  font-size: xxx-large;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  padding-top: 2%;
}
.course-flex{
  display: flex;
  padding-top: 3%;
  text-align: center;
  justify-content: space-around;
  padding-bottom: 3%;
 
}
.course-1{
  border: 2px solid rgb(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgb(0 0 0 / 19%);
  padding: 20px;
}

.course-2{
  border: 2px solid rgb(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgb(0 0 0 / 19%);
  padding: 20px;
}
.course-3{
  border: 2px solid rgb(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgb(0 0 0 / 19%);
  padding: 20px;
}
.course-para{
  width: 280px;
  height: 65px;
}
.course-para p{
  line-height: 22px;
}
.btn-learn{
  padding-top: 20px;
}
.btn-learn button{
  width: 50%;
  height: 40px;
  background: #162938;
    background-color: rgb(22, 41, 56);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-learn button a{
    font-size: 1.4em;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
.space p{
  color: whitesmoke;
}

@media only screen and (max-width: 768px) {
  
}
@media only screen and (max-width: 480px) {

}